.header-image {
    background-image: url('../../header3_img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    margin-bottom: 25px;
    background-size: contain;
}