header {
    background-color: #db2828 !important;
    position: sticky !important;
    top: 0;
    z-index: 9999;
}

h6.PrimarySearchAppBar-title-4 {
    z-index: 99999;
    margin-left: 40px !important;
}

p {
    margin: auto !important;
}


.PrimarySearchAppBar-search-5 {
    margin-left: 60px !important;
}

.PrimarySearchAppBar-inputRoot-7 {
    display: block !important;
}

.git-ic {
    width: 32px;
    color: black !important;
}

.MuiIconButton-root-113:hover {
    background: transparent !important;
}

.btn-secondary, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .btn-secondary:not([disabled]):not(.disabled):active {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.btn-secondary {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.dropdown-menu{
    transform: translate3d(-55px, 40px, 0px) !important;
}

.logout{
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.logout:hover{
    text-decoration: underline;
}