header {
    background-color: #db2828 !important;
    position: sticky !important;
    top: 0;
    z-index: 9999;
}

h6.PrimarySearchAppBar-title-4 {
    z-index: 99999;
    margin-left: 40px !important;
}

p {
    margin: auto !important;
}


.PrimarySearchAppBar-search-5 {
    margin-left: 60px !important;
}

.PrimarySearchAppBar-inputRoot-7 {
    display: block !important;
}

.git-ic{
    width: 32px;
    color: black !important;
}