div .chip_specializare {
    margin: 5px;
    background: #db2828 !important;
}

.MuiFormControl-marginNormal-162 {
    display: flex !important;
}

.MuiFormControl-marginNormal-162 div {
    width: 250px;
}

fieldset {
    border-color: #db2828 !important;
}

.rating_chip {
    color: #db2828 !important;
    border: 1px solid #db2828 !important;
    font-size: 16px !important;
}

.rating_chip svg {
    fill: #db2828 !important;
}

.profile_input {
    display: flex !important;
    margin: 20px !important;
}

.previous_comments {
    margin: 20px auto;
    padding: 5px;
}

.previous_comments > div {
    display: flex !important;
}

.previous_comments label {
    color: rgba(0, 0, 0, 0.8) !important;
    font-weight: bold;
}

.previous_comments input {
    color: rgba(0, 0, 0, 0.8) !important;
}

.delete_icon {
    padding: 0 !important;
    width: 25px !important;
}

.delete_icon:focus {
    outline: none !important;
}